
.course-container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    height: auto;
    width: 2075px;
    margin-bottom: 172px;
    margin-left: 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  
  }
  .editor {
    margin-top: 100px;
    margin-left: 16%;
  }
  